<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h1>{{title}}</h1>

   Dr. {{this.physician.first_name}} {{this.physician.last_name}}
   {{this.physician.specialty}}
    {{#if this.physician.prof_pic}}
            <img class="profile-pic" src="/profiles/physician/{{this.physician.prof_pic}}">
            {{else}}
            <img class="not-found" src="">
            {{/if}}

   <ul>
    {{#each availabilities}} {{#unless this.reserved}}
    <li>Begin: {{this.start}} End: {{this.end}}</li>
    {{/unless}} {{/each}}
   </ul>

  </div>
 </div>
</div>
